<!-- <div id="app">
  <input type="text" v-model="userInput">
  <button v-on:click="addTodo">Add Todo</button>

  <ul>
    <li
      v-for="todo in todos"
      v-on:click="removeTodo(todo)">{{ todo.value }}</li>
  </ul>
</div> -->

<!-- Vue JS Basic Templating -->
<div id="app">
  {{ name }}
</div>
