<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
  new Vue({
    el: '#app',
    data: {
      name: 'Max',
      elements: []
    },
    methods: {
      changeName: function() {
        this.name = 'Anna';
      },
      addElement: function() {
        this.elements.push(this.elements.length + 1);
      }
    }
  });
</script>

<div id="app">
  <p>{{ name }}</p>
  <p v-if="name == 'Max' ? false : true">Name Updated!</p>
  <button v-on:click="changeName">Change Name</button>
  <button v-on:click="addElement">New Element</button>
  <ul>
    <li v-for="el in elements">A Element</li>
  </ul>
</div>
